<phpunit
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
		bootstrap="tests/bootstrap-duckdb.php"
		backupGlobals="false"
		colors="true"
		beStrictAboutTestsThatDoNotTestAnything="true"
		beStrictAboutOutputDuringTests="true"
		cacheDirectory=".phpunit.cache"
		>
	<php>
		<ini name="memory_limit" value="1024M"/>
	</php>
	<testsuites>
		<testsuite name="duckdb-parity">
			<directory suffix="_Tests.php">tests/duckdb-parity</directory>
		</testsuite>
	</testsuites>
</phpunit>
